* {
  box-sizing: border-box;
}
body {
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-style: normal;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.header {
  background-color: #007765;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.header-top {
  height: 84px;
  display: block;
}
.header-top__logo {
  padding-top: 20px;
}
.header-top__logo--img {
  position: absolute;
}
.header-top__menu {
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;
}
.header-top__menu a {
  position: relative;
  transition: all 0.6s;
}
.header-top__menu a:hover {
  color: #95e8a7;
}
.header-top__menu--item + .header-top__menu--item {
  margin-left: 18px;
}
.header-top__menu a::before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #95e8a7;
  transition: all 0.3s;
}
.header-top__menu a:hover::before {
  width: 100%;
  left: 0;
  background: #95e8a7;
}
.main-section {
  width: 100%;
  height: 403px;
  background-image: url(../images/MainTitle-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.main-section__title span {
  font-size: 72px;
  line-height: 84px;
  color: #ffffff;
}
.the-problem {
  width: 100%;
  background-color: #eeeeee;
  height: 719px;
}

.the-problem__inner--title {
  padding: 48px 0 16px;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  font-weight: 500;
}
.the-problem__inner--title a {
  color: #007765;
}
.the-problem__inner--text {
  font-size: 32px;
  line-height: 37px;
}
.the-problem__inner--text span {
  font-weight: bold;
}
.tagline {
  
  background-image: url(../images/Tagline-bg.svg);
  height: 483px;
  width: 100%;
}
.tagline__text {
  height: 228px;
  width: 893px;
  color: #ffffff;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  padding-top: 128px;
  margin: 0 auto;
}
.introducing {
  width: 100%;
  height: 604px;
  background-color: #fff;
}

.introducing__title {
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  padding-top: 48px;
}
.introducing__title a {
  color: #007765;
}
.introducing__text {
  font-size: 32px;
  line-height: 37px;
}
.introducing__text p {
  padding-top: 16px;
}
.introducing__text p + p {
  padding-top: 40px;
}
.introducing__text img {
  float: left; /* Выравнивание по левому краю */
  margin: 16px 48px 35px 0;
}
.the-team {
  width: 100%;
  height: 845px;
  background-color: #eee;
}

.the-team__title {
  padding-top: 58px;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
}
.the-team__title a{
  color: #007765;
}
.the-team__people {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}
.the-team__people--dev {
  display: block;
  height: 283px;
  width: 350px;
  text-align: center;
  padding: 60px 30px;
}

.the-team__people--name {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #007765;
}
.the-team__people--position {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}
.footer{
  width: 100%;
  height: 176px;
}
.footer__info{
  display: block;
  height: 64px;
  width: 540px;
  margin: 0 auto;
  padding-top: 50px;
}
.footer__info p{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}
@media(max-width:1067px){
  .the-team{
    height: 1100px;
  }
}
@media(max-width:915px){
  .tagline__text {
    font-size: 35px;
  }
}